<p id="notice"><%= notice %></p>

<h1>Posts</h1>
  <section>
    <% @posts.each do |post| %>
      <div class="post-container">
      <%= show_author(post) %>
      <p>
  <strong>Title:</strong>
  <%= post.title %>
</p>
        <%= post.post %>
      </div>
    <% end %>
  </section>

<br>
<%= link_to "New Post", new_post_path, class: "button is_primary" %>